html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'font', sans-serif;
}

.card {
  max-width: 300px;
}

/* тут задан padding  для всего блока чтобы текст и содержимое не липло к границам документа */

.content {
  padding: 2rem 1rem;
}

/* тут задан margin  для заголовка чтобы убрать ненужные отступы сверху и с права */

h2 {
  margin: 0 0 1em;
}

/* тут задан margin для списка чтобы убрать ненужные отступы сверху и с права (бывают случаи когда не убранные отступы в списке,
портят всю стилизацию элементов которые граничат со списком) */

ul {
  display: inline-block;
  margin: 0 2em 1em 0;
  padding-left: 1em;
}

/* данный селектор убирает отступы и с права и с лева у последнего элемента списка, чтобы при адаптивности последний элемент списока в линии не портил нам  */


ul:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

/* ЭТО ПРИМЕР - данный селектор ковсем спискам тега ul кроме последнего. Т.е отступы заданы всем кроме последнего списка элемента
ul:not(:last-child) {
  margin: 0 2em 1em 0;
} */

/* В данном селекторе все секции (div class="example") имеют отступ снизу, кроме последнего. Чтобы он не не накладывался на padding внутри нашего контента  */

.example:not(:last-child) {
  margin-bottom: 2em;
}
