html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.links {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

body {
  font-family: 'font', sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #ff5943;
}

.main-img {
  margin-bottom: 32px;
}

.bio {
  display: inline-block;
  margin-bottom: 34px;
  padding: 24px 70px;
  background-color: #fff;
}

.download-bio {
  padding-left: 35px;
background-image: url(../img/download.svg);
background-repeat: no-repeat;
background-size: 25px 24px;
background-position: left center;
}

/* bio.html */

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 96px 0;
}

.main-title {
  margin: 0;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 69px;
  line-height: 69px;
  color: #333;

}

.second-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.list {
  margin: 0;
  padding: 0;
  padding-left: 13px;
}

.img-wrapper {
  margin: 0;
  margin-bottom: 48px;
  width: max-content;
  font-size: 0;
}

.paragraph {
  margin: 0;
  margin-bottom: 48px;
  width: 871px;
  font-size: 20px;
  line-height: 180%;
  color: #333;
}

.chapter .paragraph:last-of-type {
  margin-bottom: 0;
}

.chapter .paragraph:nth-last-of-type(1) {
  margin-bottom: 48px;
}

.img-descr {
  border: 1px solid currentColor;
  padding: 33px;
  font-size: 20px;
  line-height: 180%;
  text-align: center;
  color: #333;
}

.quote {
  margin: 0;
  margin-bottom: 32px;
}

.quote:last-of-type {
  margin-bottom: 0;
}

.grey-box {
  margin-bottom: 96px;
  padding: 32px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.grey-box:last-of-type {
  margin-bottom: 0;
}

.box-1 {
  background-image: url(../img/decorate-1.jpg);
}

.box-2 {
  background-image: url(../img/decorate-2.jpg);
}

.grey-box .paragraph {
  margin-bottom: 8px;
  width: 648px;
  line-height: 160%;
}


.list-link {
  border-bottom: 1px solid #ff5943;
  font-size: 20px;
  line-height: 240%;
  color: #ff5943;
}

.decorative-text {
  width: 100%;
  padding: 33px 185px;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  background-color: #ff5943;
}

.chapter {
  margin-bottom: 96px;
}

.quote .paragraph {
  margin: 0;
  width: 871px;
  font-size: 20px;
  line-height: 180%;
  font-style: italic;
  color: #333;
}

.list-2 {
  padding-left: 0;
  list-style: none;
}

.list-item {
  font-size: 20px;
  line-height: 42px;
  color: #000;
}

.img-2 {
  margin-top: 48px;
}
