/* позиционирование - position static;absolute;relative;sticky;fixed*/

.block {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: crimson;
}

.relative {
  position: relative;
  left: 50px;
  top: 5px;
  background-color: #000;
}
